


.open-sans-Normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
}

/* Header */
.header{
   background-image: url('../images/developer.png');
   background-repeat: no-repeat;
}

 /* Nav styles */ 
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 234px; 
 }

 .nav-title{
    font-weight: 900;
    font-size: 45px;
 }

 nav ul li{
    list-style: none;
    margin-right: 50px;
 }

 nav li a{
    text-decoration: none;
    font-size: 20px;
 }

 nav ul{
    display: flex;
    align-items: center;

 }

 .btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
 }

 /* banner styles */

 .banner{
   display: flex;
   justify-content: space-between;
   margin: 0 35px 0 234px;
 }

 .banner-greetings{
   font-weight: 600px;
   font-size: 45px;

 }

 .banner-title{
   font-weight: bold;
   font-size: 85px;

 }

 .banner-description{
   font-size: 18px;
   color: #757575;
 }

 .banner-content{
   max-width: 580px;
 }

 .banner-img{
   width: 580px;
 }